# Repository Group for the Prototype-Base Project.
# 

# Main repository
darcs /                                  http://www.openengine.dk/code/openengine

# Project repository
darcs /projects/Prototype-Base           http://www.openengine.dk/code/projects/Prototype-Base
any   /projects/Prototype-Base/data      http://www.openengine.dk/code/projects/Prototype-Base/data.zip

# Required extension repositories
darcs /extensions/SDL                    http://www.openengine.dk/code/extensions/SDL
darcs /extensions/OpenGLRenderer         http://www.openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/AccelerationStructures http://www.openengine.dk/code/extensions/AccelerationStructures
darcs /extensions/TGAResource            http://www.openengine.dk/code/extensions/TGAResource
darcs /extensions/OBJResource            http://www.openengine.dk/code/extensions/OBJResource

# Physics
darcs /extensions/RBPhysics              http://www.daimi.au.dk/~dodger/RBPhysics
any   /extensions                        http://www.daimi.au.dk/~dodger/bullet.zip

# Network
darcs /extensions/ErlNetwork             http://www.openengine.dk/code/extensions/ErlNetwork

# Sound
darcs /extensions/VorbisResource	 http://www.openengine.dk/code/extensions/VorbisResource
darcs /extensions/OpenALSoundSystem      http://www.openengine.dk/code/extensions/OpenALSoundSystem
darcs /extensions/Shapes                 http://www.openengine.dk/code/branches/Shapes
any /projects/Prototype-Base/data        http://www.openengine.dk/data/sound/splat.ogg

# Particle system
darcs /extensions/ParticleSystem         http://openengine.dk/code/extensions/ParticleSystem
darcs /extensions/Bindings               http://openengine.dk/code/extensions/Bindings
darcs /extensions/PropertyList           http://openengine.dk/code/extensions/PropertyList
# Particle data
any /projects/Prototype-Base/data        http://www.openengine.dk/data/images/Smoke.zip
any /projects/Prototype-Base/data        http://www.openengine.dk/data/images/particle.tga

# Sky extension
darcs /extensions/Sky                    http://openengine.dk/code/extensions/Sky

# 2D Layer
darcs /extensions/OEGUI			 http://openengine.dk/code/extensions/OEGUI

# Collada extension
darcs  /extensions/ColladaResource       http://www.openengine.dk/code/extensions/ColladaResource
linux  /libraries                        http://www.openengine.dk/data/libraries/collada-linux.tar.gz
win    /libraries                        http://www.openengine.dk/data/libraries/colladadom2.1-win32.zip
darwin /libraries                        http://www.openengine.dk/data/libraries/Collada-mac.tar.gz

# windows libraries
win32 /libraries                         http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries                         http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries                         http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries                         http://openengine.dk/data/libraries/dlls-win32.zip
win32 /libraries                         http://openengine.dk/data/libraries/colladadom2.1-win32.zip


